<div class="dropdown">
  <div data-bs-toggle="dropdown" aria-expanded="false">
    <button *ngIf="isItEdited" class="btn" (click)="dropClick()" type="button">
      <div class="currency-flag currency-flag-{{selectedCurrency.name.toLowerCase()}}"></div>
      <div class="currency-name">{{selectedCurrency.name}}{{selectedCurrency.full_name ? ' - '+selectedCurrency.full_name : '' }}</div>
      <i class="toggle bi bi-chevron-down"></i>
    </button>

    <div class="input-search" *ngIf="!isItEdited">
      <input (click)='showDropdown()' placeholder="Type to search..." (keyup.escape)="hideDropdown()" (focusout)="focusOutInput()" [ngModelOptions]="{standalone: true}" [(ngModel)]="findCurrency" (ngModelChange)="valueFinding()" type="text" autofocus #search_input>
      <a id="clear" href="#" (click)='hideDropdown()' class="bi bi-x-lg"></a>
    </div>
  </div>

  <ul [id]="'currenciesList ' + selectorIdentifier" (mouseover)="ignoreFocusOut=exchangeList.length>0" (mouseout)="ignoreFocusOut=false" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
    <li *ngFor="let currency of exchangeList">
    
      <a (click)="selectCurrencyFunc(currency)" class="dropdown-item"  href="#">
        <div class="currency-flag currency-flag-{{currency.name.toLowerCase()}}"></div>
        <div class="currency-name">{{currency.name}}{{currency.full_name ? ' - '+currency.full_name : '' }}</div>
       </a>
       
    </li>
    <li class="info-dropdown-element" *ngIf="noResultsFind">No results available</li>
  </ul>
</div>
